GOOGLE_CLIENT_ID=208298792132-fec3r6ltsil8dinj0gi23lsir2ept1dt.apps.googleusercontent.com
OPENAI_API_KEY=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